Uebungsdatenbank Erstellen mit sqlite3

In [1]:
import sqlite3

# Verbindung zur SQLite-Datenbank herstellen (oder erstellen, wenn sie nicht existiert)
conn = sqlite3.connect("students.db")
# Ein Cursor-Objekt erstellen, um SQL-Befehle auszuführen
# Was ist ein Cursor?
# Ein Cursor ist ein Objekt, das verwendet wird, um SQL-Befehle auszuführen
# und Ergebnisse von Abfragen zu verwalten. Es fungiert als eine Art Zeiger,
# der durch die Ergebnisse einer Abfrage navigieren kann.
# Mit einem Cursor können Sie SQL-Befehle ausführen, Parameter binden
# und die Ergebnisse von SELECT-Abfragen abrufen.
# In SQLite wird ein Cursor-Objekt durch Aufrufen der cursor()-Methode
# auf einem Verbindungsobjekt erstellt.
# Beispiel: cur = conn.cursor()
cur = conn.cursor()

# Erstellet eine Tabelle Student in unsere Datenbank students.db
# Falls die Tabelle bereits existiert, wird sie gelöscht und dann neu erstellt.
cur.execute("DROP TABLE IF EXISTS Student")
cur.execute("CREATE TABLE Student (id INTEGER PRIMARY KEY, name TEXT, grade INTEGER)")

# Beispieldaten in eine Liste definieren
students = [
    ("Alice", 1),
    ("Bob", 2),
    ("Charlie", 3),
    ("Diana", 1),
    ("Elias", 2)
]

# Füge die Beispieldaten in die Tabelle ein
cur.executemany("INSERT INTO Student (name, grade) VALUES (?, ?)", students)
# cur.execute(f"INSERT INTO Student (name, grade) VALUES ('Frank', 3)")
# cur.execute(f"INSERT INTO Student (name, grade) VALUES ('Gina', 1)")
# cur.execute(f"INSERT INTO Student (name, grade) VALUES ('Hannes', 2)")

# Speichere (commit) die Änderungen
conn.commit()

# Wenn wir fertig sind, schließen wir die Verbindung
# conn.close()
# Wollen wir aktuell nicht weil wir damit weiterarbeiten wollen

## Wie holt man die Daten?

### fetchone()

In [19]:
# Aufgabe: 
# Schreibe ein Programm, das alle Studenten einzeln mit fetchone() ausliest und ausgibt.
# Theorie:
# Schreibweise: cur.fetchone()
# Diese Methode holt jeweils eine Zeile aus dem Ergebnis der letzten ausgeführten Abfrage.
# Gibt die nächste Zeile des Ergebnisses zurück oder None, wenn keine Zeilen mehr vorhanden sind.
# Bspw: cur.fetchone() --> (1, 'Alice', 1)

cur.execute("SELECT * FROM Student")

row = cur.fetchone()
while row is not None:
    print(row)
    if row[1] == "Charlie":
        print("Found Charlie, stopping.")
        break
    row = cur.fetchone()

(1, 'Alice', 1)
(2, 'Bob', 2)
(3, 'Charlie', 3)
Found Charlie, stopping.

### fetchmany()

In [16]:
# Aufgabe: 
# Lies die Studenten in Blöcken von 2 mit fetchmany(2) aus.
# Gib nach jedem Block eine Zeile --- aus, damit man die Trennung sieht.
# Theorie:
# Schreibweise: cur.fetchmany(size)
# Diese Methode holt eine bestimmte Anzahl von Zeilen (size) aus dem Ergebnis der letzten ausgeführten Abfrage.
# Gibt eine Liste von Zeilen zurück. Wenn weniger Zeilen als size verfügbar sind, werden
# nur die verfügbaren Zeilen zurückgegeben.
# Bspw: cur.fetchmany(2) --> [(1, 'Alice', 1), (2, 'Bob', 2)]

cur.execute("SELECT * FROM Student")

print(cur.fetchmany(2))
print("---")
print(cur.fetchmany(2))

[(1, 'Alice', 1), (2, 'Bob', 2)]
---
[(3, 'Charlie', 3), (4, 'Diana', 1)]

### fetchall()

In [17]:
# Aufgabe:
# Lies alle Studenten mit fetchall() auf einmal aus.
# Speichere das Ergebnis in einer Variablen rows und gib die Liste aus.
# Theorie:
# Schreibweise: cur.fetchall()
# Diese Methode holt alle verbleibenden Zeilen aus dem Ergebnis der letzten ausgeführten Abfrage.
# Gibt eine Liste von Zeilen zurück. Wenn keine Zeilen mehr vorhanden sind, wird eine leere Liste zurückgegeben.
# Bspw: cur.fetchall() --> [(1, 'Alice', 1), (2, 'Bob', 2), (3, 'Charlie', 3), (4, 'Diana', 1), (5, 'Elias', 2)]

cur.execute("SELECT * FROM Student")
print(cur.fetchall())

[(1, 'Alice', 1), (2, 'Bob', 2), (3, 'Charlie', 3), (4, 'Diana', 1), (5, 'Elias', 2)]

## Was ist execute?

execute() ist eine methode von ein cursor objekt.

Wird verwendet um einzelne SQL statements auszufuehren (wie SELECT, INSERT, UPDATE, DELETE, CREATE TABLE, etc.).

Wenn dein startement Zeilen zurueckgibt (bspw. SELECT), dann wir im cursor objekt diesen reultat gespeichert. Diesen wert koennen wir dann mit fetchone(), fetchmany(), oder fetchall() bekommen.

## execute()

In [20]:
# Aufgabe:
# Fuege einen neuen Studenten mit dem Namen "Frank" und der Note 3 hinzu.
# Verwende dazu ein INSERT-Statement mit execute().
# Theorie:
# Schreibweise: cur.execute(sql, parameters)
# Diese Methode führt ein SQL-Statement aus und ermöglicht das Binden von Parametern.
# Beispiel: cur.execute("INSERT INTO Student (name, grade) VALUES (?, ?)", ("Frank", 3))
# Nicht vergessen: conn.commit() um die Änderung zu speichern!

cur.execute("INSERT INTO Student (name, grade) VALUES (?, ?)", ("Frank", 3))
conn.commit()

## executemany()

In [21]:
# Aufgabe:
# Fuege mehrere neue Studenten auf einmal mit executemany() hinzu.
# Füge die Studenten "Grace" (Note 2) und "Hannah" (Note 1) hinzu.
# Theorie:
# Schreibweise: cur.executemany(sql, parameters)
# Diese Methode führt ein SQL-Statement für mehrere Datensätze aus und ermöglicht das Binden von Parametern.
# Beispiel: cur.executemany("INSERT INTO Student (name, grade) VALUES (?, ?)", [("Grace", 2), ("Hannah", 1)])
# Nicht vergessen: conn.commit() um die Änderung zu speichern!

cur.executemany("INSERT INTO Student (name, grade) VALUES (?, ?)", [("Grace", 2), ("Hannah", 1)])
conn.commit()